$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

body {
  font: 100% $font-stack;
  color: $primary-color;
}

svg {
  display: block;
  border: 1px solid silver;
  height: 600px;
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}

circle {
  opacity: 0.5;
}